::-webkit-input-placeholder { /* Edge */
    color: gray !important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray!important;
  }
  
  ::placeholder {
    color:gray !important;
    
  }

  .select-location{
      color: gray !important;
      padding-left: 25px !important;
  }

  .errorMsg {
    background-color:#E787C7;
    color: white;
    bottom: 10px;
    left: 45%;
    right: 45%;
    position: fixed;
    text-align: center;
    
    
  
  }

  .successMsg {
    background-color: #0E4362;
    color: white;
    bottom: 10px;
    left: 45%;
    right: 45%;
    position: fixed;
    text-align: center;
    
  }

  