<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SHA Database</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../assets/images/cropped-She_Hacks_Africa_logo.jpg" />
  </head>
  <body>
    <div class="container-scroller" id="app">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img src="../assets/images/cropped-She_Hacks_Africa_logo.jpg">
                </div>
                <h4>New Cohort?</h4>
                <h6 class="font-weight-light">Create cohort before adding participants</h6>
                <form>
                  <div class="form-group" >
                    <input v-model="cohortCode" name="code" type="number" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Code">
                  </div>
                  <div class="form-group">
                    <input  v-model="cohortStartDate" name="startDate" type="text" onfocus="(this.type='date')" class="form-control form-control-lg font-weight-light" id="exampleInputEmail1" placeholder="Start Date">
                  </div>
                  <div class="form-group">
                    <input v-model="cohortEndDate" name="endDate" type="text" onfocus="(this.type='date')" class="form-control form-control-lg font-weight-light" id="exampleInputEmail1" placeholder="End Date">
                  </div>
                  <div class="form-group">
                    <select  name="country" v-model="selectedLocation" class="form-control form-control-lg select-location" id="exampleFormControlSelect2">
                      <option disabled selected value="">Select Country</option>
                      <option v-bind:value="location" v-for="(location, index) in locations">{{location.country}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select  v-model="selectedState" name="states" class="form-control form-control-lg select-location" id="exampleFormControlSelect2">
                      <option disabled selected  value="">Select State</option>
                      <option v-for="(state, index) in selectedLocation.states">{{state}}</option>
                    </select>
                  </div>
                 
                  <!-- <div v-for="(location, index) in locations">
                    <!-- <h1>{{location.country}}</h1> -->
                    <!-- <p v-for="(state, index) in location.states">
                      {{state}}
                    </p>
                    
                  </div> -->
                 
                  <div class="mt-3">
                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" v-on:click=" postCohortData()">SUBMIT</a>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Want to cancel? <a href="../index.html" class="text-primary">Dashboard</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
      <div :class="messageColor" v-if="cohortSnackBar">
       <p>{{snackbarMsg}}</p>
      </div>
    </div>
    <!-- snack-bar for cohort button -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/sha.js"></script>
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../assets/js/off-canvas.js"></script>
    <script src="../assets/js/hoverable-collapse.js"></script>
    <script src="../assets/js/misc.js"></script>
    <!-- endinject -->
  </body>
</html>